.press {
margin-bottom: 26.667vw;
@media(min-width:768px){
    margin-bottom: 23.438vw;
}
@media(min-width:1360px){
   margin-bottom: 250px;
}
    &__body {
    }

    &__top {
        @media(min-width:1360px){
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            gap: 195px;
          }
    }

    &__title {
    }

    &__text {
        @extend %mobile-t1;
        margin-bottom: 6.667vw;
        @media(min-width:768px){
           margin-bottom: 5.859vw;
        }
        @media(min-width:1360px){
           margin-bottom: 0;
           max-width: 1137px;
         }
    }

    &__bottom {
        margin-bottom: 8vw;
        display: flex;
        flex-direction: column;
        gap: 4vw;
        @media(min-width:768px){
            flex-direction: row;
            gap: 2.604vw;
            margin-bottom: 3.906vw;
         }
         @media(min-width:1360px){
           margin-bottom: 30px;
           gap: 30px;
          }
    }
}
