.services {
margin-bottom: 26.667vw;
@media(min-width:768px){
    margin-bottom: 20.964vw;
}
@media(min-width:1360px){
    margin-bottom: 13.281vw;
}
    &__body {
    }
    &__body .button-secondary .button-arrow{
        width: 8.267vw;
        height: 8.267vw;
        flex: 0 0 8.267vw;
        transform: rotate(90deg);
        border-radius: 0.5vw;
        background: $colorBackground;
        margin-left: 5.333vw;
    }
    &__body .button-secondary  .button-arrow path{
      fill: #B3B3B3;
      stroke: #B3B3B3;
    }
    &__body .button-secondary {
        @media(min-width:768px){
            display: none;
        }
    }
    &__top {
        margin-bottom: 8.267vw;
        @media(min-width:768px){
          margin-bottom: 6.51vw;
        }
        @media(min-width:1360px){
            display: flex;
            justify-content: space-between;
            margin-bottom: 0vw;
        }
    }

    &__title {
        @media(min-width:768px){
            margin-bottom: 2.865vw;
        }
    }

    &__text {
        @extend %mobile-t1;
        @media(min-width:1360px){
          max-width: 66.667vw;
        }
    }

    &__cards {
        margin-bottom: 4vw;
        gap: 4vw;
        display: flex;
        flex-direction: column;
        @media(min-width:768px){
            margin-bottom: 0;
            gap: 2.604vw;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media(min-width:1360px){
           gap: 1.563vw;
          }
    }
}

