.press {
margin-bottom: 26.667vw;
@media(min-width:768px){
    margin-bottom: 23.438vw;
}
@media(min-width:1360px){
   margin-bottom: 13.021vw;
}
    &__body {
       
    }
    &__link{
        width: 100%;
     @media(min-width:1360px){
        display: block;
        max-width: 28.802vw;
     }
    }
    &__wrap-link{
        @media(min-width:1360px){
           display: flex;
           justify-content: flex-end;
         }
    }
    &__top {
        @media(min-width:1360px){
            margin-bottom: 2.604vw;
            display: flex;
            justify-content: space-between;
            gap: 10.156vw;
          }
    }

    &__title {
    }

    &__text {
        @extend %mobile-t1;
        margin-bottom: 6.667vw;
        @media(min-width:768px){
           margin-bottom: 5.859vw;
        }
        @media(min-width:1360px){
           margin-bottom: 0;
           max-width: 59.219vw;
         }
    }

    &__bottom {
        margin-bottom: 8vw;
        display: flex;
        flex-direction: column;
        gap: 4vw;
        @media(min-width:768px){
            flex-direction: row;
            gap: 2.604vw;
            margin-bottom: 3.906vw;
         }
         @media(min-width:1360px){
           margin-bottom: 1.563vw;
           gap: 1.563vw;
          }
    }
}
