.press {

    &__card {
        border-radius: 0.533vw;
        overflow: hidden;
        height: 108vw;
        background-color: $colorBackground;

        @media(min-width:768px) {
            flex: 0 0 44.792vw;
            height: 75.521vw;
            border-radius: 0.26vw;
        }

        @media(min-width:1360px) {
            flex: 0 0 28.802vw;
            height: 30.521vw;
            border-radius: 0.104vw;
        }
    }

    &__card-link {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }

    &__card-label {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 10.133vw;

        @media(min-width:768px) {
            height: 4.948vw;
        }

        @media(min-width:1360px) {
            height: 1.979vw;
            max-width: 100%;
            overflow: hidden;
        }
    }

    &__card-category {
        background-color: $colorGreen;
        flex: 1 1 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 4vw;
        clip-path: polygon(0 0, 46.4vw 0, 100% 100%, 0% 100%);
        z-index: 2;
        position: relative;
        max-width: 54.667vw;
        width: 100%;
        padding-right: 9.333vw;
        color: $netural-100;
        letter-spacing: -0.047vw;
        font-size: 4.267vw;
        transition: all .5s ease;

        @media(min-width:768px) {
            padding-left: 1.953vw;
            clip-path: polygon(0 0, 22.656vw 0, 100% 100%, 0% 100%);
            max-width: 26.693vw;
            padding-right: 4.557vw;
            letter-spacing: -0.023vw;
            font-size: 2.083vw;
        }

        @media(min-width:1360px) {
            max-width: 8.958vw;
            padding-left: 0.885vw;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            letter-spacing: -0.009vw;
            font-size: 0.833vw;
            right: 0;
            position: absolute;
        }
    }

    &__card-date::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 12.267vw;
        width: 5.6vw;
        height: 4.8vw;
        background-image: url('../img/icon/cal.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media(min-width:768px) {
            left: 5.99vw;
            width: 2.734vw;
            height: 2.344vw;
        }

        @media(min-width:1360px) {
            width: 1.042vw;
            height: 0.885vw;
            left: 2.448vw;
            top: 0.99vw;
        }
    }

    &__card-date {
        color: $netural-100;
        font-size: 4.267vw;
        background-color: $colorGold;
        flex: 0 0 45.867vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 4vw;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 45.867vw;
        z-index: 1;

        @media(min-width:768px) {
            font-size: 2.083vw;
            flex: 0 0 22.396vw;
            padding-right: 1.953vw;
            max-width: 22.396vw;
        }

        @media(min-width:1360px) {
            font-size: 0.833vw;
            letter-spacing: -0.009vw;
            flex: 0 0 8.958vw;
            max-width: 8.958vw;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 1.406vw 100%);
            z-index: 2;
            padding-right: 0.729vw;
        }
    }

    &__card-img {
        width: 100%;
        height: 48vw;
        object-fit: cover;

        @media(min-width:768px) {
            height: 41.146vw;
        }

        @media(min-width:1360px) {
            height: 0;
            flex: 1 1 12.552vw;
        }
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        transition: all .8s ease;

        @media(min-width:1360px) {
            margin-bottom: -60px;
        }
    }

    &__card-bottom {
        padding: 5.333vw 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 auto;

        @media(min-width:768px) {
            padding: 2.604vw 1.953vw;

        }

        @media(min-width:1360px) {
            padding: 1.042vw;
        }
    }

    &__card-name {
        color: $colorGold;
        font-size: 3.733vw;
        font-weight: 500;
        margin-bottom: 3.2vw;

        @media(min-width:768px) {
            font-size: 1.823vw;
            letter-spacing: -0.02vw;
            margin-bottom: 1.953vw;
        }

        @media(min-width:1360px) {
            font-size: 0.833vw;
            letter-spacing: -0.009vw;
            margin-bottom: 0.781vw;
        }
    }

    &__card-title {
        @extend %mobile-h4;
        font-family: $fontManrope;
        margin-bottom: 2.667vw;

        @media(min-width:768px) {
            margin-bottom: 1.953vw;
        }

        @media(min-width:1360px) {
            margin-bottom: 0.781vw;
            font-size: 1.016vw;
        }
    }

    &__card-text {
        @extend %mobile-textcard;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        color: $netural-40;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 5.333vw;
        transition: all .8s ease;

        @media(min-width:768px) {
            margin-bottom: 3.646vw;
        }

        @media(min-width:1360px) {
            margin-bottom: 0.26vw;
            height: 3.646vw;

        }
    }

    //Анимация
    &__card:hover &__card-text {
        @media(min-width:1360px) {
            -webkit-line-clamp: 10;
            text-overflow: unset;
            height: 7.813vw;
            margin-bottom: -2.083vw;
        }

    }

    &__card:hover &__card-content {
        @media(min-width:1360px) {
            margin-bottom: 0;
        }

    }

    &__card:hover &__card-category {
        @media(min-width:1360px) {
            max-width: 100%;
        }
    }
    &__card:hover  .read-more {
        @media(min-width: 1360px){
         font-weight: 600;
         color: $colorGreen;
        }
     }
    &__card:hover  .read-more span:first-child{
        @media(min-width: 1360px){
            margin-right: 25px;
        }
     }
     &__card:hover .read-more  .button-arrow__path{
         @media(min-width:1360px){
             stroke: $colorGold;
        }
     }
}