.button-arrow{
width: 8.533vw;
height: 8.533vw;
background-color: $netural-100;
display: flex;
align-items: center;
justify-content: center;
border: 0.267vw solid transparent;
transition: border 1s ease;
@media(min-width:768px){
    border: 0.13vw solid transparent;
}
@media(min-width:1360px){
    border: 0.052vw solid transparent;
}

    &__path{
        fill: $colorGold;
        stroke: $colorGold;
    }
    
    &:hover{
        border-color: $colorGold;
    }

    &:hover &__path{
        transition: fill 0.5s ease, stroke 0.3s ease;
    }
}