.hero-main {
    min-height: 200.533vw;
    background-color: #FCFAFA;
    overflow: hidden;
    position: relative;
    margin-bottom: 26.667vw;
    @media(min-width:768px) {
        min-height: 122.917vw;
        margin-bottom: 19.531vw;
        background: #d9d9d911;
    }
    @media(min-width:1360px) {
        min-height: 48.438vw;
        margin-bottom: 12.5vw;
        
    }
    &__body {
        padding-top: 19.733vw;
        padding-bottom: 68.533vw;
        @media(min-width:768px){
            padding-bottom: 37.5vw;
            padding-top: 10.677vw;
        }
        @media(min-width:1360px){
            padding-bottom: 19.792vw;
            padding-top: 4.271vw;
        }
    }

    &__shard {
        position: absolute;
        z-index: 20;
    }

    &__title {}

    &__title span:first-child {
        @extend %mobile-h1;
        color: $colorGold;
        margin-bottom: 4vw;
        @media(min-width:768px){
            margin-bottom: 3.255vw;
        }
        @media(min-width:1360px) {
            font-size: 7.5vw;
            margin-bottom: .5vw;
        }
    }

    &__title span:last-child {
        color: $colorGreen;
        font-family: $fontStem;
        font-size: 8vw;
        font-weight: 200;
        line-height: 90%;
        margin-bottom: 13.333vw;

        @media(min-width:768px) {
            font-size: 9.156vw;
            line-height: 1;
            margin-bottom: 10.417vw;

        }
        @media(min-width:1360px) {
            font-size: 9.583vw;
            line-height: 90%;
            margin-bottom: 5.729vw;
        }
    }

    & .button-normal {
        @media(min-width:1360px) {
            max-width: 28.802vw;
            order: -1;
        }
    }

    &__bottom {
        @media(min-width:1360px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__bottom p {
        @extend %mobile-t1;
        margin-bottom: 13.333vw;
        font-weight: 600;
        @media(min-width:768px) {
            margin-bottom: 10.417vw;
        }

        @media(min-width:1360px) {
            max-width: 37.969vw;
            margin-right: 3.646vw;
            margin-bottom: 0;
        }


    }
}