.personnel {
    margin-bottom: 24.533vw;
    @media(min-width:768px){
        margin-bottom: 23.438vw;
    }
    @media(min-width:1360px){
        margin-bottom: 13.021vw;
    }
    &__img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 42.4vw;
        height: 66.666vw;
        z-index: 2;
        margin-top: -0.267vw;
        @media(min-width:768px){
            display: none;
        }
    }
    &__img-tablet{
        display: none;
        @media(min-width:768px){
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 100.26vw;
            width: 100%;
            height: 42.578vw;
            z-index: 2;
        }
    } 
    &__img-tablet{
        display: none;
        @media(min-width:768px){
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 100.26vw;
            width: 100%;
            height: 42.578vw;
            z-index: 2;
        }
        @media(min-width:1360px){
           display: none;
        }
    } 
    &__img-desktop{
        display: none;
        @media(min-width:1360px){
            display: block;
            position: absolute;
            z-index: 2;
            width: 37.604vw;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;
            height: 32.552vw;
        }
    } 
    &__body {
    }

    &__top {
        @media(min-width:1360px){
          display: flex;
          justify-content: space-between;
          margin-bottom: 3.125vw;
        }
    }

    &__title {
        margin-bottom: 4.533vw;
        @media(min-width:768px){
            margin-bottom: 2.214vw;
            letter-spacing: -0.066vw;
        }
        @media(min-width:1360px){
            margin-bottom: 0;
            letter-spacing: -0.034vw;
        }
    }

    &__text {
        @extend %mobile-t1;
        margin-bottom: 8vw;
        @media(min-width:768px){
           margin-bottom: 5.469vw;
           max-width: 87.891vw;
        }
        @media(min-width:1360px){
            max-width: 44.01vw;
            margin-bottom: 0;
        }
    }

    &__bottom {
        position: relative;
        height: 176.533vw;
        @media(min-width:768px){
            display: flex;
            height: 76.563vw;
        }
        @media(min-width:1360px){
            height: 32.552vw;
            max-width: 99.375vw;
            padding: 0 5.208vw;
            margin: 0 auto;
        }
    }
    &__bottom .container{
        @media(min-width:1360px){
            padding: 0 2.083vw;
        }
    }
    &__item {
        height: 88vw;
        width: 100%;
        padding: 11.733vw 0;
        @media(min-width:768px){
           padding: 3.255vw 0;
           height: 76.563vw;
        }
        @media(min-width:1360px){
            height: 32.552vw;
            padding: 8.333vw 0;
        }
    }

    &__left {
        background: $colorBackground-2;
        @media(min-width: 1360px){
            flex: 0 0 50%;
         }

    }

    &__item-title {
        @extend %mobile-h3;
        margin-bottom: 3.733vw;
        line-height: 150%;
        @media(min-width:768px){
            margin-bottom: 1.823vw;
        }
        @media(min-width:1360px){
            margin-bottom: 1.198vw;
        }
    }

    &__left-title {
    }

    &__item-text {
        @extend %mobile-textcard;
        margin-bottom: 6.4vw;
        max-width: 83.467vw;
        @media(min-width:768px){
            margin-bottom: 2.865vw;
            max-width: 42.318vw;
            line-height: 150%;
        }
        @media(min-width: 1360px){
            font-size: 1.042vw;
            max-width: 26.719vw;
            margin-bottom: 1.823vw;
        }
    }

    &__left-text {
    }

    &__link {
        display: flex;
        max-width: 68vw;
        height: 11.733vw;
        @media(min-width:768px){
            height: 6.38vw;
         }
         @media(min-width: 1360px){
            height: 2.969vw;
            max-width: 21.198vw;
         }
    }
    &__link .button-secondary{
        height: 11.733vw;
        @media(min-width:768px){
           height: 6.38vw;
        }
        @media(min-width: 1360px){
            height: 2.969vw;
         }
    }

    &__right {
        background-color: $colorBackground;
        @media(min-width: 1360px){
           padding-left: 14.063vw;
           flex: 0 0 50%;
        }
    }

    &__rigth-title {
    }

    &__right-text {
    }
}
